.side-bar {
height: 100vh;
width: 300px;
background: rgb(250, 250, 250);
padding-top: 1vh;
box-sizing: border-box;
display: inline-block;
float: left;
}

ul {
    margin:  0;
    padding-left: 0;
}

li {
    border-top:0.5px solid black;
    border-collapse: collapse;
    margin-left: 0;
    height: 25px;
}