.student-details {
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;
}

.student-form {
    width: 50vw;
    margin: auto;
    margin-bottom: 100px;
}
table {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

td {
    border-top-width: 0px;
    height: 2px;
}
td th table tr {
    box-sizing : border-box;
}
ul {
    margin: 0px;
    padding: 0px;
}
.left-aside {
    padding-top: 100px;
    border-right: 0.5px solid grey;
    
    
}